.gfg {
  width: 100%;

}
.logo {
  text-align: center;
  position: absolute;
  font-size: 18px;
  top: 50px;
  left: 27%;
  color: black;
    }

  h1{
        position: center;
        font-family: 'Times New Roman', Times, serif;
    }

