body {
  background-color: #c4bf9f;
}
.gfg {
  width: 100%;

}
.logo {
  text-align: center;
  position: absolute;
  font-size: 50px;
  top: 100px;
  left: 30%;
  color: black;
    }

  h1{
        position: center;
        font-family: serif;
    }

    .logo button {
			border-radius: 12px;
			outline: 0;
			display: inline-block;
			padding-top:0px;
      padding-bottom: 0px;
			color: black;
			background-color: #ddd;
			text-align: center;
			cursor: pointer;
      font-size: 30px;
      font-family: serif;
     
    
		}

  h2{
  text-align: center;
  font-size: 35px; 
  font-family: serif; 
  color: white;
  border:  1px solid #25591f; 
  background-color: #25591f; 
  }

  .container{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  font-family: serif;
  }

  .text-wrapper {  
    float: left; 
    width: 50%; 
  } 
  .text-wrapper img { 
    width: 100%; 
  } 

  .text-wrapper p { 
    text-align: center; 
  } 
  
  @media (max-width: 767px) { 
    .text-wrapper { 
      float: none; 
      width: 100%; 
    } 
  } 
  



  